<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/editor', data?.code]" color="secondary">
        <ion-icon slot="icon-only" name="lock"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-item>
    <ion-label>Code: {{data?.code}}</ion-label>
    <ion-button slot="end" (click)="postVkClick()">
      <ion-icon name="logo-vk"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Title: {{data?.title}}</ion-label>
    <ion-button slot="end" (click)="titleDetailsClick()">
      <ion-icon name="open"></ion-icon>
    </ion-button>
  </ion-item>
  <app-graph *ngIf="data" [data]="data" [mode]="GraphMode.preview"></app-graph>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresher($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>