<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="['/']">
      <span>Logic</span>
    </ion-title>
    <ng-container [ngTemplateOutlet]="headerButtonsTemplate"></ng-container>
    <ion-thumbnail [routerLink]="['/']" slot="start">
      <ion-img src="/assets/logo.svg"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>