mat-divider.mat-divider-vertical {
  margin-left: 11px;
  height: 95%;
}

mat-spinner {
  position: absolute;
  margin-left: -3px;
  margin-top: -1px;
}

.code-title {
  display: flex;
  align-items: center;
  min-height: 6rem;
  flex-wrap: wrap;
  max-width: 100%;

  h3 {
    margin-right: 2.5rem;

    &:first-child {
      margin-left: 0;
    }

    mat-form-field {
      width: 50rem;
      margin-bottom: -1.25em;
      margin-top: -1.4em;
      max-width: 100%;
    }

    &.title {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      max-width: 100%;

      mat-form-field {
        margin-top: 0;
      }
    }
  }
}

.viewport {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  app-graph {
    height: 100%;
    svg {
      height: 100%;
    }
  }

  .edit-shape {
    margin: 0 1rem 1rem;
    display: flex;
    flex-direction: column;

    .shape-text {
      width: 24rem;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }
  }

  .menu-trigger {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
}
