<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
    <mat-spinner *ngIf="calcService.state === 'in_progress'" diameter="30" matTooltip="Graph calc is in progress">
    </mat-spinner>
    <mat-icon *ngIf="socket.ioSocket.connected && calcService.state !== 'empty'" matTooltip="Connected to calc service">
      signal_wifi_4_bar</mat-icon>
    <button mat-icon-button *ngIf="calcService.state === 'in_progress'" (click)="calcService.breakCalculations()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-icon *ngIf="socket.ioSocket.connected && calcService.state === 'empty'" color="warn"
      matTooltip="Graph can't be handled">signal_wifi_4_bar_lock</mat-icon>
    <mat-icon *ngIf="socket.ioSocket.disconnected" color="warn" matTooltip="Calc service connection error">
      signal_wifi_off</mat-icon>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-icon-button *ngIf="showNewPositionControls || showNewLinkControls" (click)="rejectEditActions()">
      <mat-icon>backspace</mat-icon>
    </button>
    <button mat-icon-button *ngIf="graphService.data && graphMode === GraphMode.preview" color="accent" (click)="setMode(EditViewMode.root)">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!graphMode && code" color="accent" (click)="lock()">
      <mat-icon>lock_open</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!graphMode" color="primary" (click)="setMode(EditViewMode.shapeNew)">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!graphMode" [disabled]="!graphElement" color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="code-title">
  <h3>Code: {{displayedCode}}</h3>
  <h3 class="title">
    <button mat-icon-button *ngIf="!graphMode && titleEdited === null" color="primary" (click)="editTitle()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!graphMode && titleEdited !== null" color="warn" (click)="undoTitle()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!graphMode && titleEdited !== null" color="primary" (click)="saveTitle()">
      <mat-icon>check</mat-icon>
    </button>
    <div *ngIf="titleEdited === null" class="title">{{graphService.data?.title}}</div>
    <mat-form-field *ngIf="titleEdited !== null">
      <input matInput placeholder="Graph Title" [(ngModel)]="titleEdited">
    </mat-form-field>
  </h3>
</div>
<div class="viewport">
  <app-graph #graph
    *ngIf="graphService.data && (graphService.data?.shapes?.length || graphMode === GraphMode.preview || graphMode === GraphMode.readonly)"
    [data]="graphService.data" [mode]="graphMode" (shapeClick)="shapeClick($event)" (linkClick)="linkClick($event)"
    (shapeCreated)="shapeCreated($event)"></app-graph>
  <div class="edit-shape" *ngIf="shapeText !== null">
    <h5>Shape editor</h5>
    <mat-form-field class="shape-text">
      <textarea matInput placeholder="Shape Text" [(ngModel)]="shapeText"></textarea>
    </mat-form-field>
    <div class="buttons">
      <button mat-flat-button color="default" (click)="setMode(EditViewMode.root)">Cancel</button>
      <button mat-flat-button color="primary" (click)="saveShape()">Save</button>
    </div>
  </div>
  <div class="edit-shape" *ngIf="showNewPositionControls">
    <h3>Set new shape's position</h3>
    <p>Click on the graph to choose position for the new shape</p>
  </div>
  <div class="edit-shape" *ngIf="showNewLinkControls">
    <h3>Select second shape</h3>
    <p>In order to create a link you should select second shape</p>
  </div>
  <div class="edit-shape" *ngIf="showEditorRootControls">
    <h3>Work with graph</h3>
    <p>Click <mat-icon color="primary" (click)="setMode(EditViewMode.shapeNew)">add_box</mat-icon> to add new shape</p>
    <p>Click on shape to edit/move/resize/remove shape, create link</p>
    <p>Click on link to remove link</p>
  </div>
  <div class="edit-shape" *ngIf="!graphService.data">
    <h3>404</h3>
    <p>It seems like graph hasn't been found</p>
  </div>
  <span #shapeMenuTrigger *ngIf="!graphMode" [matMenuTriggerFor]="shapeMenu" class="menu-trigger"
    [ngStyle]="menuTriggerStyle">SHAPE BUTTON</span>
  <mat-menu #shapeMenu="matMenu">
    <button mat-menu-item (click)="setMode(EditViewMode.shapeEdit)">Edit</button>
    <button mat-menu-item (click)="graphService.toggleResizing(shapeSelected.name)">Resize / Move</button>
    <button mat-menu-item (click)="createLink('source')">Add link 'from'</button>
    <button mat-menu-item (click)="createLink('dest')">Add link 'to'</button>
    <button mat-menu-item (click)="removeShape()">Remove</button>
  </mat-menu>
  <span #linkMenuTrigger *ngIf="!graphMode" [matMenuTriggerFor]="linkMenu" class="menu-trigger"
    [ngStyle]="menuTriggerStyle">LINK BUTTON</span>
  <mat-menu #linkMenu="matMenu">
    <button mat-menu-item (click)="removeLink()">Remove</button>
  </mat-menu>
</div>