<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/shape/new']" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="save()" [disabled]="!graphElement?.svgElement" color="primary">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/preview', graphService.data?.code]" color="secondary">
        <ion-icon slot="icon-only" name="unlock"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-item class="progress" *ngIf="calcService.state === 'in_progress'">
    <ion-progress-bar value="0.0" buffer="0.1"></ion-progress-bar>
    <ion-icon name="close" (click)="calcService.breakCalculations()"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label>Code: {{ graphService.data?.code}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Title: {{ graphService.data?.title}}</ion-label>
    <ion-button slot="end" (click)="titleDetailsClick()">
      <ion-icon name="open"></ion-icon>
    </ion-button>
  </ion-item>
  <app-graph #graph
   [data]="graphService.data" (shapeClick)="shapeClick($event)" (linkClick)="linkClick($event)">
  </app-graph>
  <div *ngIf=" graphService.data && ! graphService.data?.shapes?.length" class="add-statement-wrapper">
    <a [routerLink]="['/shape/new']">Add statement</a>
  </div>
</ion-content>