.add-statement-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  a {
    font-size: 2em;
    text-decoration: none;
  }

}

ion-item.progress {
  position: absolute;
  z-index: 1000;
  width: 100%;
  opacity: 0.9;
}
