<ng-container *ngIf="link">
  <svg:line [@distinguishLink]="link.distinguished && (!mode || mode===GraphMode.preview)" *ngFor="let line of link.route" [attr.x1]="line[0].x"
    [attr.y1]="line[0].y" [attr.x2]="line[1].x" [attr.y2]="line[1].y" stroke="black"></svg:line>
  <svg:line [@distinguishLink]="link.distinguished && (!mode || mode===GraphMode.preview)" *ngFor="let line of link.route" [attr.x1]="line[0].x"
    [attr.y1]="line[0].y" [attr.x2]="line[1].x" [attr.y2]="line[1].y" stroke="black" stroke-width="14"
    stroke-opacity="0.15"></svg:line>
  <svg:g *ngIf="link.translation"
    [attr.transform]="'translate(' + link.translation.x + ' ' + link.translation.y + ')' + ' rotate('  + link.rotation + ')'">
    <svg:line [@distinguishLink]="link.distinguished && (!mode || mode===GraphMode.preview)" x1="0" y1="0" [attr.x2]="link.length" [attr.y2]="0"
      stroke="black">
    </svg:line>
    <svg:line [@distinguishLink]="link.distinguished && (!mode || mode===GraphMode.preview)" x1="0" y1="0" [attr.x2]="link.length" [attr.y2]="0" stroke="black"
      stroke-width="14" stroke-opacity="0.15">
    </svg:line>
    <svg:polygon [@distinguishLink]="link.distinguished && (!mode || mode===GraphMode.preview)"
      [attr.points]="(link.length - 20) + ' -7 ' + (link.length - 2) + ' 0 ' + (link.length - 20) + ' 7'" fill="black"
      stroke="black" />
  </svg:g>
</ng-container>