.draggable-horizontal {
    cursor: n-resize;
}

@keyframes moveHorizontal {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(0.2rem);
    }
}

.draggable-horizontal-animated {
    animation-name: moveHorizontal;
    animation-iteration-count: infinite;
    animation-duration: 300ms;
    animation-direction: alternate;
}

@keyframes moveVertical {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(0.2rem);
    }
}

.draggable-vertical-animated {
    animation-name: moveVertical;
    animation-iteration-count: infinite;
    animation-duration: 300ms;
    animation-direction: alternate;
}


.draggable-vertical {
    cursor: e-resize;
}