<svg:g [attr.transform]="'translate(' + data.x + ' ' + data.y + ')'" (mousedown)="mouseDown($event, DragType.movement)"
  (touchstart)="touchStart($event, DragType.movement)">
  <svg:rect [@distinguishShape]="(!mode || mode === GraphMode.preview) && data.distinguished" x="0" y="0" [attr.width]="data.width"
    [attr.height]="data.height" stroke="black" [attr.fill]="fill" stroke-width="1" />
  <svg:g app-multiline-text x="0" y="0" [width]="data.width" [height]="data.height" padding="5" [text]="data.text">
  </svg:g>
  <svg:line *ngIf="canResize" class="draggable-horizontal-animated" x1="0" [attr.x2]="data.width" [attr.y1]="data.height+1" [attr.y2]="data.height+1"
    stroke="black" fill="transparent" stroke-width="1" />
  <svg:line *ngIf="canResize" class="draggable-vertical-animated" [attr.x1]="data.width+1" [attr.x2]="data.width+1" y1="0" [attr.y2]="data.height"
    stroke="black" fill="transparent" stroke-width="1" />
  <svg:line *ngIf="canResize" class="draggable-horizontal" x1="0" [attr.x2]="data.width" [attr.y1]="data.height+1"
    [attr.y2]="data.height+1" stroke="orange" fill="transparent" stroke-width="14" stroke-opacity="0.15"
    (mousedown)="mouseDown($event, DragType.resizeY)" (touchstart)="touchStart($event, DragType.resizeY)" />
  <svg:line *ngIf="canResize" class="draggable-vertical" [attr.x1]="data.width+1" [attr.x2]="data.width+1" y1="0"
    [attr.y2]="data.height" stroke="orange" fill="transparent" stroke-width="14" stroke-opacity="0.15"
    (mousedown)="mouseDown($event, DragType.resizeX)" (touchstart)="touchStart($event, DragType.resizeX)" />
</svg:g>