:host {
  .search-form-field {
    width: 24rem;
    margin-top: 1em;
  }
  .viewport {
    height: calc(100% - 5rem);
    width: 100%;
    margin-top: 1em;

    li {
      list-style-type: none;
      height: 60px;
      cursor: pointer;
      display: flex;
      align-items: center;
      h4 {
        margin-right: 2rem;
      }
    }
  }
}
