<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
    <mat-form-field class="search-form-field">
      <input type="text" matInput placeholder="Search" [formControl]="searchFormControl">
      <mat-icon *ngIf="searchFormControl.value" matSuffix (click)="searchFormControl.reset()">clear</mat-icon>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="newGraph()">
      <mat-icon>add_box</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<cdk-virtual-scroll-viewport itemSize="60" class="viewport">
  <li *cdkVirtualFor="let graph of graphListDataSource" [routerLink]="!preventFollowGraph ? ['/graph', graph.code] : null"
    (click)="preventFollowGraph ? selectGraphHandler(graph) : null">
    <h4>{{graph.code}}</h4>
    <div>{{graph.title}}</div>
  </li>
</cdk-virtual-scroll-viewport>