<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-list>
    <ion-item [color]="getRemoveColor()" (click)="remove()">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>Remove <span *ngIf="tapAgainForRemove">(tap again)</span></ion-label>
    </ion-item>
  </ion-list>
</ion-content>