<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="!isEdit">
        <ion-label position="stacked">Title</ion-label>
        <ion-text>
          {{editedTitle}}
        </ion-text>
        <ion-button *ngIf="!readonly" slot="end" (click)="toggleEdit()">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item *ngIf="isEdit">
        <ion-label position="stacked">Title</ion-label>
        <ion-textarea [(ngModel)]="editedTitle" autofocus></ion-textarea>
        <ion-button slot="end" (click)="redo()">
          <ion-icon name="undo" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button expand="block" *ngIf="isEdit" (click)="saveHandler(editedTitle)">
        <ion-icon name="save" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>