<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="primary">
      <ion-button (click)="newGraph()" color="primary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-searchbar showCancelButton="focus" debounce="1000" (ionChange)=searchChange($event)></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let graph of graphList" [routerLink]="['/preview', graph.code]">
      <ion-label>
        <h2>{{graph.code}}</h2>
        <p>{{graph.title}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!graphList?.length" class="add-graph-wrapper">
    <a (click)="newGraph()">Add graph</a>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresher($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>