.add-graph-wrapper {
  height: calc(100% - 100px);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
      font-size: 2em;
      text-decoration: none;
  }
}