.exit-backdrop {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: white;
  opacity: 0.9;
  z-index: 11;
}
