<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div [@fadeInOut]="helperService.canExit" *ngIf="helperService.canExit" class="exit-backdrop" (click)="clickHandler()">
    <span>Tap back again for exit the application</span>
  </div>
</ion-app>