<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-item class="progress" *ngIf="calcService.state === 'in_progress'">
    <ion-progress-bar value="0.0" buffer="0.1"></ion-progress-bar>
    <ion-icon name="close" (click)="calcService.breakCalculations()"></ion-icon>
  </ion-item>
  <ion-card color="light">
    <ion-card-content>
      Select 2nd statement for link
    </ion-card-content>
  </ion-card>
  <app-graph *ngIf="graphService.data" [data]="graphService.data" [mode]="GraphMode.readonly"
    (shapeClick)="shapeClick($event)"></app-graph>
</ion-content>