<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-list>
    <ion-item (click)="editText()">
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-item>
    <ion-item [color]="getResizingColor()" (click)="toggleResizing()">
      <ion-icon name="resize" slot="start"></ion-icon>
      <ion-label>Resize / Move</ion-label>
    </ion-item>
    <ion-item (click)="createLink('source')">
      <ion-icon name="git-network" slot="start"></ion-icon>
      <ion-label>Add link 'from'</ion-label>
    </ion-item>
    <ion-item (click)="createLink('dest')">
      <ion-icon name="git-merge" slot="start"></ion-icon>
      <ion-label>Add link 'to'</ion-label>
    </ion-item>
    <ion-item [color]="getRemoveColor()" (click)="remove()">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>Remove <span *ngIf="tapAgainForRemove">(tap again)</span></ion-label>
    </ion-item>
  </ion-list>
</ion-content>