:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    display: flex;
    flex-direction: column;

    mat-card-content {
      display: flex;
      flex-direction: column;
    }
  }
}
