<mat-card>
  <mat-card-title>
    Authentication
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Login" [(ngModel)]="login" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="handleLogin()">Log In</button>
  </mat-card-actions>
</mat-card>