<app-search #search preventFollowGraph="true" (selectGraph)="selectGraph($event)"></app-search>
<div *ngIf="graphService.data">
  <h2>{{graphService.data.code}} - {{graphService.data.title}}</h2>
  <app-graph [data]="graphService.data" mode="preview"></app-graph>
</div>
<div *ngIf="graphService.data">
  <mat-slide-toggle #approveSlide [checked]="graphService.data.approved"
    (change)="approvedChange($event, graphService.data.code)">Approved</mat-slide-toggle>
  <button mat-raised-button (click)="delete(graphService.data.code)">Delete</button>
</div>