<app-header>
  <ng-template #headerButtons>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="submit()">
        <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ng-template>
</app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Text</ion-card-subtitle>
      <ion-card-content>
        <ion-item>
          <ion-textarea rows="4" placeholder="Enter text here..." [(ngModel)]="value"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>