<svg:text [attr.x]="left" [attr.y]="top">
  <svg:tspan *ngFor="let line of lines; let key=index" [attr.x]="left" [attr.dy]="lineHeight + lineSpace"
    [attr.textLength]="width - padding * 2" lengthAdjust="spacingAndGlyphs">
    {{line}}
  </svg:tspan>
</svg:text>