<ng-container *ngIf="data?.shapes?.length || mode === GraphMode.preview || mode === GraphMode.readonly">
  <svg #svg [@outOfBounds]="graphService.graphCounter" [@cover]="coverAnimationCounter" [attr.width]="data.width"
    [attr.height]="data.height" [attr.viewBox]="'0 0 ' + data.width + ' ' + data.height"
    version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" (mouseup)="mouseUp($event)"
    (mousemove)="mouseMove($event)" (touchend)="touchEnd($event)" (touchmove)="touchMove($event)">

    <rect #rect [ngClass]="{'crossed': graphService.isOutOfBoard}" x="0" y="0" [attr.width]="data.width"
      [attr.height]="data.height" stroke="black" fill="transparent" stroke-width="2" />
    <g app-link *ngFor="let link of data.links" [link]="link" [mode]="mode" (click)="clickLinkHandler(link, $event)">
    </g>

    <g app-rect-text *ngFor="let shape of data.shapes; trackBy: shapeTrackBy" [ngClass]="{'covered': shape.isCovered}"
      class="app-rect-text" [data]="shape" (movementStart)="movementStart($event)" (click)="clickShapeHandler(shape, $event)"
      [mode]="getRectangleMode(shape)"></g>
  </svg>
</ng-container>