<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>Are you sure?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="warn">Yes</button>
</div>