<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <img [routerLink]="['/']" class="logo" src="/assets/logo.svg" alt="logo" />
    <span [routerLink]="['/']">Logic</span>
    <span class="spacer"></span>
    <button mat-button *ngIf="authService.accessToken" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mat-elevation-z4 main">
  <router-outlet></router-outlet>
</div>