@import './theme.scss';
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

snack-bar-container.error-snack-bar {
  background-color: mat-color(map-get($logic-app-theme, warn));

  mat-list-item div {
    color: mat-color(map-get($logic-app-theme, warn), default-contrast);
  }
}
